body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0a0a0a;
    color: #00ff00;
    text-align: center;
    font-size: 1.2em;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #000;
    /* border-radius: 10px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border-left: 5px solid #00ff00;
    border-right: 5px solid #00ff00;
}

header {
    padding: 10px 0;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

header h2 {
    font-size: 1.5em;
    margin: 10px 0 20px;
}

.video-container {
    margin: 20px 0;
}

.install-button {
    margin: 20px;
    padding: 15px 30px;
    font-size: 1.2em;
    color: #000;
    background-color: #32cd32;
    cursor: pointer;
    transition: 0.3s;
}

.install-button:hover {
    background-color: #228b22;
}

nav {
    margin-top: 5px;
    padding: 10px;
    background-color: #111;
    position: sticky;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    border-left: 5px solid #00ff00;
    border-right: 5px solid #00ff00;
}

nav a {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    color: #00ff00;
    text-decoration: none;
    background-color: #222;
    border: 1px solid #00ff00;
    border-radius: 5px;
    transition: 0.3s;
}

nav a:hover {
    background-color: #00ff00;
    color: #000;
}

.section {
    padding: 20px 0;
    border-bottom: 2px solid #00ff00;
}

.section:last-child {
    border-bottom: none;
}

.info-text {
    margin-left: 40px;
    text-align: left;
    font-family: "Courier New", Courier, monospace;
}

.gif-container img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

.text-placement {
    margin-left: 40px;
    text-align: left;
    font-family: "Courier New", Courier, monospace;
}

.gif-container ul {
    padding-left: 20px;
    list-style-type: disc;
}

.gif-container ul li {
    margin-bottom: 5px;
}

.gif-container .title {
    font-weight: bold;
    margin-bottom: 10px;
}

.feature-list {
    border: 2px solid #00ff00;
    background-color: #1a1a1a;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
}

.feature-list h3 {
    text-align: center;
    margin-bottom: 15px;
}

.feature-item {
    border: 2px solid #00ff00;
    border-radius: 10px;
    background-color: #111111;
    padding: 15px;
    margin: 10px auto;
    color: #00ff00;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 1.2em;
    transition: 0.3s;
}

.feature-item:hover {
    background-color: #00ff00;
    color: #000;
    cursor: pointer;
    transform: scale(1.05);
}

/* Needed to disable button underline. I think I'll might regret that in the future... */
a {
    text-decoration: none;
}

.feature-item a {
    text-decoration: none;
    color: inherit;
}

.social-icons h2 {
    margin-bottom: 15px;
}

.social-icons a {
    margin: 0 10px;
    color: #00ff00;
    font-size: 2em;
    text-decoration: none;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #32cd32;
}

p {
    font-family: "Courier New", Courier, monospace;
    text-align: left;
}